/* src: https://github.com/codrops/Baraja */
ul.baraja-container {
	width: 200px;
	height: 310px;
	margin: 0 auto 30px;
	position: relative;
	padding: 0;
	list-style-type: none;
}

ul.baraja-container li {
	width: 100%;
	height: 100%;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	background: #fff;
	pointer-events: auto;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

.no-js ul.baraja-container {
	width: auto;
	height: auto;
	text-align: center;
}

.no-js ul.baraja-container li {
	position: relative;
	display: inline-block;
	width: 200px;
	height: 310px;
	margin: 10px;
}

.my-recipes {
	width: 200px;
	margin: 30px auto;
	color: #aaa;
}

.my-recipes.grid{
	width: 100%;
	margin:0;
}

.no-js .my-recipes {
	width: auto;
}

.my-recipes h4 {
	color: #666;
	font-size: 14px;
	padding: 8px 10px 5px;
	margin: 5px 3px 5px;
	border-bottom: 1px solid #f0f0f0;
	overflow: hidden;
	font-weight: 400;
}

.my-recipes p {
	font-size: 12px;
	font-weight: 700;
	padding: 0 10px;
	margin: 10px 3px 0;
}

.my-recipes ul.baraja-container li {
	border-radius: 3px;
	padding: 0;
	box-shadow: 0 15px 65px rgba(0,0,0,.2);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.my-recipes li img {
	display: block;
	margin: 0 auto;
	width: 100%;
	border-radius: 10px 10px 0 0;
}

.actions {
	width: 100%;
	padding: 0 0 20px 0;
	clear: both;
}

.actions span {
	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	background: #fff;
	color: #888;
	font-weight: 700;
	font-size: 12px;
	font-size: 1.2rem;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	padding: 5px 10px;
	text-transform: uppercase;
	margin: 3px;
	border-radius: 3px;

}

.actions span:hover {
	background: #f7f7f7;
}

.actions span:active {
	background: #aaa;
	color: #fff;
	box-shadow: 0 1px 1px rgba(255,255,255,0.5);
}

.actions span.disabled {
	opacity: 0.8;
	color: #ddd;
}

.light {
	padding: 60px 0 250px;
}

.light span {
	background: #aaa;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.2), 0 1px 1px rgba(255,255,255,0.8);
}

.light span:hover {
	background: #444;
}

#baraja-el.grid{
	margin:0;
	width: auto;
}

#baraja-el.grid li{
	display: block;
	float:left;
	position: relative;
	height: auto;
	margin: 10px;
}

#baraja-el.grid li.fixed-width , #baraja-el.grid li.fixed-width img{
	width: 300px;
}

#baraja-el.grid li.fixed-width .img{
	height:200px;
	background-size: cover;
	background-position: 50% 50%;
	border-radius: 3px 3px 0 0;
}

#baraja-el.grid li.spaced{
	margin-top: 40px;
}

#baraja-el.grid li .image_wrapper{
	display: block;
	height: 170px;
	overflow: hidden;
	background-size: cover;
	background-position: 50% 50%;
}

#baraja-el.grid li .image_wrapper img{
	height: 100%;
	width:auto;
}

#baraja-el.grid li p{
	position: relative;
	font-weight: 300;
	height: 30px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#baraja-el.grid li .actions{
	padding: 10px 0;
}

@media (max-width: 979px){
	#baraja-el.grid li.spaced{
		width: 220px;
	}
}

@media (max-width: 767px){
	#baraja-el.grid li.spaced{
		width: 100%;
		margin-left:0;
		margin-right:0;
	}
	
	#baraja-el.grid button{
		width: 100%;
		margin-top:10px; 
	}
}

